nav{
	display: inline-block;
	position: relative;
	max-width: 100%;
	margin-top:auto;
	width: 100%;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	text-align:center;
	background: linear-gradient(#4E5050 1px, #282A2A 1px, #282A2A 47px, #4E5050 47px);
    background-color: transparent;
    background-image: linear-gradient(rgb(78, 80, 80) 1px, rgb(40, 42, 42) 1px, rgb(40, 42, 42) 47px, rgb(78, 80, 80) 47px);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.button {
  border-radius: 0px;
  background-color:transparent;
  border: none;
  color: #f2f2f2;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin:auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button:hover{
	background-color:#000000;
	color: white;
}
.button span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 30px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.ulli{
	border: 1px solid black;
}
li{
	margin:10px;
	font-size:70px;
	
}
